#extends config
#block commonConfig
#
# Generic section
# ===============
#filter FilterChain
$output_prefix # Prefix for the output files
$output_request # Flag: request incremental output of the material state
$verbosity # Verbosity level: 0 (the lowest) - 3 (the highest)
$input_fname # Path to the texture file
$model_type # Model type: either ALAMEL or FCTaylor
$slipsystems # Family of slip systems
$use_default_microstructure # Flag: use default microstructural description
#if not $use_default_microstructure
$microstructure.microstructure_fname # Microstructure definition (filename)
#filter TensorFilter
$microstructure.Fmicro          # Deformation gradient
#end filter
#end if
$use_default_hardening # Flag: use default hardening
#if not $use_default_hardening
$hardening.hardening_type # Hardening law Id
#if $hardening.hardening_type == 2
${hardening.SwiftK.K,width=6} ${hardening.SwiftK.gamma0,width=6} ${hardening.SwiftK.n,width=6} # Coefficients of SwiftK hardening law
#elif $hardening.hardening_type == 3
${hardening.SwiftS.crss0,width=6} ${hardening.SwiftS.gamma0,width=6} ${hardening.SwiftS.n,width=6} # Coefficients of SwiftS hardening law
#end if
#end if
$use_default_solver_settings # Flag: use default solver settings
#if not $use_default_solver_settings
$solver.jacobi_eps # Control over numerical estimation of Jacobian
$solver.attempt_linearize # Flag: attempt to linearize the problem
${solver.default_eps, width=10} ${solver.objective_eps, width=9} # Default eps for TR-solver, eps for the norm of objective function: ||F||_2
$solver.use_advanced_settings # Flag: use advanced solver settings
#end if
#end filter
# End of generic section
#
#end block commonConfig