2                    # Number of steps
# Step 1
1.0 1.0 0.0 0.0 0.0 0.0 # Stress mode in Voigt notation
True                 # Flag: incrementally update state variables
StrainTensor         # Keyword: incrementation type
0.2                  # Magnitude of the step
0.01                 # Magnitude of the increment
# Step 2
-1.0 -1.0 0.0 0.0 0.0 0.0 # Stress mode in Voigt notation
True                 # Flag: incrementally update state variables
StrainTensor         # Keyword: incrementation type
0.2                  # Magnitude of the step
0.01                 # Magnitude of the increment
