4                    # Number of steps
# Step 1
0.5 -0.25 -0.25 0.0 0.0 0.0 0.0 0.0 0.0 # Velocity gradient
0.2                                     # Von mises equivalent logarithmic strain to be reached in this step.
# Step 2
0.5 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.2
# Step 3
0.0 -0.25 0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.2
# Step 4
0.0 0.0 -0.25 0.0 0.0 0.0 0.0 0.0 0.0
0.2
