#extends configGeneric
#block moduleConfig
#
# Module ADP section
# ==================
#filter FilterChain
$len($adp.steps) # Number of steps
#for $istep,$step in $enumerate($adp.steps, 1)
# Step $istep
#set step_type = None
#set step_types = ['deformation', 'strainmode', 'strain', None]
#for $step_type in $step_types
#if step_type in $step.keys()
#break
#end if
#end for
$step_type # Keyword: deformation type  
#if $step_type == 'deformation'
${step.deformation, plain=True} # Full deformation rate tensor in Voigt notation: 9 components
#elif $step_type == 'strainmode'
${step.strainmode, plain=True} # Strain mode in Voigt notation: 6 components
${step.magnitude} # Magnitude of the step
#elif $step_type == 'strain'
${step.strain, plain=True} # Strain increment in Voigt notation: 6 components
#else
#raise RuntimeError('Unknown step deformation type')
#end if
$step.update_state # Flag: incrementally update state variables
$step.incrementation.type # Keyword: incrementation type
#if $step.incrementation.type == 'fixed'
$range($step.incrementation.range, 'incrementation definition')#slurp
#end if
#end for
#end filter
#end block moduleConfig