*.pyc
*.bak
*~
*.mod
*.smod
.vscode
build/
.DS_Store
AlTay/release
AlTay/debug
VEF/build
bin
doc
*/doc
security/ssh_keys/*
test/security/ssh_keys/*
callgraph/*
test/run/*
test/data/out/
test/reference
