2                    # Number of steps
# Step 1
1.0 1.0 0.0 0.0 0.0 0.0 # Stress mode in Voigt notation
0.2                  # Magnitude of the step
# Step 2
-1.0 -1.0 0.0 0.0 0.0 0.0 # Stress mode in Voigt notation
0.2                  # Magnitude of the step
