${jobname}           # Prefix for output   
F                    # Request incremental output of the material state
2                    # Verbosity level
2                    # Type of input texture (1 - SMT, 2 - CUR, 3 - CUB)
${step}    ${texture_file}       # Name of texure file
${modelid}           # Simulation type: 0 - Alamel, 1 - FC-Taylor
${slipsystem_file}              # Definition of slip systems (filename)
${microstructure_file}           # Microstructure definition (filename)
0                    # Hardening law Id
5.e-1  T             # Jacobi_eps, Flag: linearize
1e-5	1e-3         # Default eps for TR-solver, eps for the norm of objective function: ||F||_2
uniform              # Range type specification. This can be one of these: uniform, biased, doublebiased, multibiased  
0.0   90.0  15.0     # Range specification for 'uniform':  begin  end  step 
0.0                  # stress ratio:  rho
F                    # Flag: request calculations of Taylor factor (increases calculation time) 
F  F                 # Flags: reuse_previous   reuse_stainrate
F                    # Flag: use symmetry folding (note that it probably does't make sense to use this if a nonuniform range is used)
