#extends configGeneric
#block moduleConfig
#
# Module QRS section
# ==================
#filter FilterChain
$range($qrs.range, 'alpha angles')#slurp
$qrs.use_default_settings # Flag: use default uniaxial stress settings
#if $qrs.use_default_settings == False
$qrs.rho # Stress ratio: rho = sigma_yy/sigma_xx
$qrs.calculate_MFactor # Flag: request calculations of Taylor factor (increases calculation time) 
$qrs.fold_symmetry # Flag: use symmetry folding (note that it probably doesn't make sense to use this if a nonuniform range is used)
$qrs.improve_stability # Flag: try to improve convergence 
#end if
#end filter
#end block moduleConfig