#extends configGeneric
#block moduleConfig
#
# Module UDSA section
# ==================
#filter FilterChain
$udsa.sample_orientation.orientation # Sample orientation type
#if $udsa.sample_orientation.orientation == 'inplane'
$range($udsa.sample_orientation.range, 'alpha angles')#slurp
#elif $udsa.sample_orientation.orientation == 'arbitrary'
${udsa.sample_orientation.euler_angles, plain=True} # Euler angles that define the chosen loading direction
#end if
$udsa.scaling.type # Keyword: incrementation type
$udsa.scaling.total_magnitude # Maximal deformation
$udsa.scaling.increment_magnitude # Increment deformation
$udsa.stress_state # Stress state: 'compression' or 'tension'
$udsa.use_default_settings # Flag: use default settings 
#if not $udsa.use_default_settings
$udsa.stress_ratio # Stress ratio: rho = sigma_yy/sigma_xx
#end if
#end filter
#end block moduleConfig