#extends configGeneric
#block moduleConfig
#
# Module EWC section
# ==================
#filter FilterChain
$ewc.worklevel_selection_method # Keyword: method for selecting worklevel
#if $ewc.worklevel_selection_method == 'reference'
${ewc.reference.stress_mode, plain=True} # Reference stress mode
$ewc.reference.scaling.type # Keyword: incrementation type
$ewc.reference.scaling.total_magnitude # Magnitude of the step
$ewc.reference.scaling.increment_magnitude # Magnitude of the increment
#end if
$range($ewc.contour_theta_range, 'theta angles at which the contours will be computed')#slurp
$range($ewc.contour_levels_range, 'contour levels')#slurp
$ewc.points_per_contour # Number of data points per contour level along each evolution line
$ewc.use_default_settings # Flag: use default settings
#if not $ewc.use_default_settings
${ewc.base_sigma_x, plain=True} # first base tensor in Voigt notation
${ewc.base_sigma_y, plain=True} # second base tensor in Voigt notation
#end if
#end filter
#end block moduleConfig