#extends configGeneric
#block moduleConfig
#
# Module YLD section
# ==================
#filter FilterChain
$range($yld.theta_range, 'theta angles')#slurp
$yld.use_default_settings # Flag: use default yield section settings
#if not $yld.use_default_settings
$yld.section.normalize_base # normalize base tensors
${yld.section.base_sigma_x, plain=True} # first base tensor in Voigt notation
${yld.section.base_sigma_y, plain=True} # second base tensor in Voigt notation
${yld.section.base_sigma_offset, plain=True} # offset tensor in Voigt notation
$yld.normalize_stress # Flag: normalize stress
$range($yld.offset_range, 'multipliers for the offset tensor')#slurp
$yld.use_scaling
#if $yld.use_scaling
${yld.scaling_stress_mode, plain=True} # Stress direction used for scaling the yield section
#end if
#end if
#end filter
#end block moduleConfig