#extends configGeneric
#block moduleConfig
#
# Module UDSA section
# ==================
#filter FilterChain
$udsa.sample_orientation # Orientation of the sample
$udsa.scaling.type # Keyword: incrementation type
$udsa.scaling.total_magnitude # Maximal deformation
$udsa.scaling.increment_magnitude # Increment deformation
$udsa.stress_state # Stress state: 'compression' or 'tension'
$udsa.use_default_settings # Flag: use default settings 
#if not $udsa.use_default_settings
$udsa.stress_ratio # Stress ratio
#end if
#end filter
#end block moduleConfig